.woocommerce-loop-product__title {
    font-weight: normal;
}
.flex-control-nav {
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.flex-viewport {
    max-width: 100%; /*customize to your needs 100%*/
    & img {
        height: 100%;
        width: 100%; 
        object-fit: contain;
    }
}
.woocommerce-product-gallery {
    position: relative;
}
.woocommerce-product-gallery__trigger {
    position: absolute;
    top: 25rem;
    right: 3rem;
    z-index:2;
}
.woocommerce-product-gallery__image {
    img {
        height: 20rem;
        max-width: 100%;
        object-fit: contain;
    }
}
.woocommerce-hidetitle {
    display: none;
}
.woocommerce-info {
    padding: 0 0 2rem;
}

.form-row {

    label {
        display: block;

        &.checkbox {
            display: inline;
        }
    }

    select {
        width: 100%;
    }

    .input-text {
        box-sizing: border-box;
        width: 100%;
    }
}

.form-row-first,
.form-row-last {
    width: 47%;
    overflow: visible;
}

.form-row-first {
    float: left;

    /*rtl:raw:
    float: right;
    */
}

.form-row-last {
    float: right;
}

.form-row-wide {
    clear: both;
}
.form-group {
    padding: 0.4rem 0;
}

.added_to_cart {
    display: none;
}

.woocommerce-error {
    padding: 2rem;
    background: $white;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}