.header {
  width: 100%;
  background: $secondary;
  border-bottom: 0.0625em solid $primary-dark;
  &__right {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    align-items: center;
  }
  &__wrap {
    display: flex;
    height: $h-header;
    align-content: center;
    color: $white;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    background: $secondary;
    @include break(sm) {
      position: relative;
    }
  }
  .header__searchinput {
    display: none;
    &.active {
      display: block;
      flex-grow: 1;
      margin-left: 0;
      @include break(xs) {
        margin-left: 2rem;
      }
    }
  }
  .header__navbar {
    position: relative;
  }
  .header__icon {
    position: absolute;
    display: flex;
    align-items: center;
    right: 2em;
    cursor: pointer;
    &--close {
      display: none;
      font-size: 2rem;
      &.active {
        display: block;
      }
      &.disable {
        display: none;
      }
    }
    &.active {
      position: relative;
      right: 0;
    }
    @include break(sm) {
      position: relative;
      right: 0;
    }
  }
}

.header__logo {
  display: block;
  @include break(xs) {
    display: block;
  }
  &-img img {
    max-width: 10em;
    height: auto;
  }
  &.disable {
    display: none;
    flex-grow: 0;
  }
}