.header {
  width:100%;
  background: $secondary;
  border-bottom: 0.0625em solid $primary-dark;
  &__wrap {
    display: flex;
    height: $h-header;
    align-content: center;
    justify-content: space-between;
    align-items: center;
  }
  &__navbar {
    position: relative;
  }
}

.header__logo {
  &-img img {
    max-width: 10em;
    height: auto;
  }
}
