.cart {
  &__wrap {
    position: relative;
    width: 100%;
    display: flex;
    border: 0.0625rem solid $third;
    margin: 1rem 0;
    padding: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    @include break(sm) {
      flex-direction: row;
      flex-wrap: nowrap;
    }

    &__desc {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      @include break(sm) {
        padding: 2rem;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
      }
    }

    &__remove {
      position: absolute;
      right: 1rem;
      top: 1rem;
      padding: 1rem;
    }

    &__thumbnail {
      max-width: 100%;
      padding: 1rem;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    &__name {
      text-align: center;
      font-size: 1.6rem;
      padding: 1rem;
    }

    &__quantity {
      display: flex;
      justify-content: center;
      font-size: 1.6rem;
    }

    &__price {
      text-align: center;
    }

    &__total {
      display: flex;
      justify-content: center;
      font-size: 2.4rem;
      padding: 2rem;
    }
  }

  &__bottom {
    padding: 0 0 2rem 0;
    &__wrap {
      display: flex;
    }
  }
}
