// .navbar {
//     &__nav {
//         display: flex;
//         position: relative;
//         background: #fff;
//         ul {
//             display: none;
//             position: absolute;
//             top: 80%;
//             left: 0px;
//             padding-left: 15px;
//             background: #fff;
//         }
//         li {
//             display: block;
//             float: none;
//         }
//     }
// }

.navbar {
    margin: 0;
    padding: 0;
    & ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: none;
    }
    & ul.opening {
        display: block;
        position: absolute;
        top: 2rem;
        left: 0;
        z-index: 2;
        width: 100vh;
    }
    & li {
        border-bottom: 1px solid #f6f4e2;
    }
    & li:last-child {
        border-bottom: none;
    }
    & a {
        color: #EBEBD3;
        background: #e7a119;
        display: block;
        padding: 1.5em 4em 1.5em 3em;
        text-transform: uppercase;
        text-decoration: none;
    }
    & a:hover,
    & a:focus {
        background: #E4B363;
    }
}

.site-nav--icon {
    font-size: 1.4em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: rgba(255, 255, 255, .4);
}

.menu-toggle {
    position: absolute;
    top: 0.2em;
    right: .5em;
    cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    background: #EBEBD3;
    height: 3px;
    width: 2em;
    border-radius: 3px;
    -webkit-transition: all ease-in-out 350ms;
    transition: all ease-in-out 350ms;
}

.hamburger::before {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
}

.hamburger::after {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}

.open .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.open .hamburger::before {
    display: none;
}

.open .hamburger::after {
    -webkit-transform: translateY(-1px) rotate(-90deg);
    transform: translateY(-1px) rotate(-90deg);
}

@media (min-width: 780px) {
    .menu-toggle {
        display: none;
    }
    .navbar ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .navbar li {
        flex: 1 1 auto;
        border: none;
    }
    .navbar li a {
        padding: 1.5em 1.3em 1.5em 1.3em;
        margin: 0;
        border: none;
        background: $secondary;
    }
    .navbar a:hover,
    .navbar a:focus {
        background-color: rgba(255, 255, 255, .10);
    }
    .logo {
        flex: 0 0 200px;
        margin: 0;
        padding-left: 20px;
    }
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        background: $secondary;
    }
}

//   .navbar {
//     &__nav {
//         list-style-type: none;
//         display: none;
//         flex-direction: column;
//         font-size: 1.2rem;
//         text-transform: uppercase;
//         @include break(sm) {
//             display: flex;
//             flex-direction: row;
//             justify-content: flex-end;
//         }
//         li {
//             text-align: center;
//             padding: 0 0.5rem;
//         }
//         &.open {
//             display: flex;
//         }
//     }
//     a, a:visited {
//         color: $third-dark;
//     }
// }
// .navbar-toggle {
//     cursor: pointer;
//     color: $primary;
//     font-size: 24px;
//     &--open {
//         display: block;
//     }
//     &--close {
//         display: block;
//     }
//     @include break(sm) {
//         display: none;
//     }
//   }
//   .navbar-toggle:hover {
//     color: $secondary;
//   }