.navbar {
    @include break(sm) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        background: $secondary;
    }
    & ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        display: none;
        @include break(sm) {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    }
    & ul.opening {
        display: block;
        position: fixed;
        top: $h-header;
        left: 0;
        z-index: 2;
        width: 100%;
    }
    & li {
        @include break(sm) {
            flex: 1 1 auto;
            border: none;
        }
        a {
            padding: 1.5em 1.3em 1.5em 1.3em;
            margin: 0;
            border: none;
            background: $secondary;
        }
    }
    & li:last-child {
        border-bottom: none;
    }
    & a {
        color: darken($white, 15%);
        background: $secondary;
        display: block;
        padding: 1.5em 4em 1.5em 3em;
        text-transform: uppercase;
        text-decoration: none;
        &:hover,
        &:focus {
            background: #E4B363;
            @include break(sm) {
                background-color: lighten($secondary, 5%);
            }
        }
    }
}

.navbar-toggle {
    position: absolute;
    top: $h-header / 2;
    right: 2em;
    cursor: pointer;
    @include break(sm) {
        display: none;
    }
}

.navbar__icon,
.navbar__icon::before,
.navbar__icon::after {
    content: '';
    display: block;
    background: #EBEBD3;
    height: 3px;
    width: 2em;
    border-radius: 3px;
    -webkit-transition: all ease-in-out 350ms;
    transition: all ease-in-out 350ms;
}

.navbar__icon::before {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
}

.navbar__icon::after {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}

.open .navbar__icon {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.open .navbar__icon::before {
    display: none;
}

.open .navbar__icon::after {
    -webkit-transform: translateY(-1px) rotate(-90deg);
    transform: translateY(-1px) rotate(-90deg);
}