.content-product {
  padding: 1rem;
  &__wrap {
    padding: 1rem;
    background: $white;
    border-radius: 1rem;
    a,
    a:visited {
      color: $secondary;
    }
  }
  &__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__title {
      padding: 0.5em 0;
    }
    &__price {
      font-size: 2rem;
      padding: 0.5em 0;
    }
    &__desc {
      padding: 0.5em 0;
    }
    &__btn {
      padding: 2rem;
    }
  }
}